# Dependencies
node_modules/

# Build
dist/
build/
*.local

# Environment
.env
.env.local
.env.*.local

# Logs & caches
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.tsbuildinfo
.vite/

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# Test / coverage
coverage/

# OS
Thumbs.db
